
/* good pratice */
body{
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
    
}

.text-center{
    text-align: center;
}

/* section:nth-child(2n){
    background-color: lightgrey;
}


section:nth-child(2n+1){
    background-color: white;
} */

span{
   color: #7481fe;
}

/* header section */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(static/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* for the parallax effect */
    padding-top: 1.2rem;

}

.horizontal-list{
    list-style: none; /* in order to make the list items bullets to none */
    padding-left: 0px;
    margin: 0px;
}


.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s;
    transition: linear 0.15s;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1.5px solid lightgrey;
}

/* name and social */


#name_social-container{
    margin-top: 20vh;
}

#name{
    color: white;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;

}

#social-icons li a i{
    padding: 10px;
    font-size: 1rem;
    border-radius: 30%;
    transition: white 1s ease-in-out;
}



#social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px lightgrey;
}



/*     about section     */

#about{
    height: auto;
    width: 100%;
    margin-top: -15vh;
    position: relative; /* this will help us to display about section at the front of the behind div */
}

#about p{
    margin: 5rem 30vh 5rem 30vh; /* top right bottom left */
    font-weight: 450;
    padding: auto;
    letter-spacing: 0.1px;
    color: grey;
    line-height: 28px;

}


/* this will allow us to set the height and width of the parent div of the image */
#profile_image{
   height: 12rem;
   width: 12rem;
   margin: auto;
}

/* and this will allow us to set the image 100 percent to the DIV CONTAINER */
#profile_image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px lightgrey;
}


/*      skills section     */



/* #skills{
    border: 2px solid black;
}
#skill_div{
    border: 2px solid black;
} */




#skill_text{
    color: #2857a4;
    padding: 1rem;
    font-weight: 500;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb75px{
    margin-bottom: 75px;
}

.section-heading{
    width: auto;
    /* padding: 20px 10px 10px ; */
    font-weight: 400;
    display: inline-block;
    
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    padding-top: 10px;
    margin-right: 0.5rem;
    justify-content: center;
}

/*    skill div    */

.skill_div{
    display: inline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
    /* border: 2px solid black; */
    justify-content: center;
}

.parent_skillbar{

    margin: 2rem;
    width: 10rem;
    height: 2rem;
    background-color: lightgrey;
    border-radius: 1.8rem;
    box-shadow: 0px 0px 5px 5px lightgrey;
    transition: 0.5s;
}

.parent_skillbar:hover{
    height: 7rem;
    width: 10rem;
}

.percentage{
    height: inherit;
    border-radius: inherit;
}


.skillname span{
    color: white;
    font-size: 1.5rem;
    margin: 0.8rem;

}

.skillname{
    border-radius: 1.8rem;
}

/*     seperate boxes    */


#cpp{
    height: 100%;
    width: 90%; 
    background-color: #4ecdc4;
    transition: 0.5s;
}
#cpp:hover{
    height: 100%;
    width: 100%;
}


#dsa{
    height: 100%;
    width: 40%; 
    background-color: #ffe1a8;
    transition: 0.5s;
}
#dsa:hover{
    height: 100%;
    width: 100%;
}

#html{
    height: 100%;
    width: 80%; 
    background-color: #f8d49a;
    transition: 0.5s;
}
#html:hover{
    height: 100%;
    width: 100%;
}

#css{
    height: 100%;
    width: 40%; 
    background-color: #ffe1a8;
    transition: 0.5s;
}
#css:hover{
    height: 100%;
    width: 100%;
}

#javascript{
    height: 100%;
    width: 45%; 
    background-color: #4ecdc4;
    transition: 0.5s;
}
#javascript:hover{
    height: 100%;
    width: 100%;
}

#nodejs{
    height: 100%;
    width: 40%; 
    background-color: #f8d49a;
    transition: 0.5s;
}
#nodejs:hover{
    height: 100%;
    width: 100%;
}


#BackEnd{
    height: 100%;
    width: 50%; 
    background-color: #64c4c3;
    transition: 0.5s;

}
#BackEnd:hover{ 
    height: 100%;
    width: 100%;
}